/* ================ GLOBAL ============= */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color:inherit;
    text-decoration: none;
}

.page-wrapper{
    width: 1200px;
    margin: 0 auto;
}
/* =========== HEADER =============== */
.header{
    color: #666;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    height:55px;
}

.nav-group-logo{
    margin-right: auto;
    font-family: 'DM Sans', sans-serif;
    font-style: italic;
    font-weight: bold;
    background-image: linear-gradient(to left, #a69e80, #e0ba9b,  #e7a97e, #d28574, #3b1922);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-group-page-items{
    width: 610px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.nav-group-social-icons{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-group-page-items a:hover{
    background-color: lightgrey;
}

.nav-group-page-items a{
    padding: 4px 8px;
}
/* =======HOME (index.html)============== */
.section-home{
    min-height: calc(100vh - 55px);
    display:flex;
    align-items: center;

}
.section-home-item{
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #42446E;
    display:flex;
    justify-content: space-between;
}

.profile-img{
    border-radius: 230%;
    border-style: solid;
    border-width: thick;
}
.my-name{
    background-image: linear-gradient(to left, #a69e80, #e0ba9b,  #e7a97e, #d28574, #3b1922);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ============ ABOUT ME (about.html) =============== */
.section-about{
    min-height: calc(100vh - 55px);
    width: 710px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.section-about-work-item{
    height: 75px;
    border-bottom: 2px solid lightgray;
}
.section-about-item-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}
.section-about-work-item-content{
    display:flex;
}
.section-about-work{
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid lightgray;
}

.section-about h1{
    font-size: 36px;
    color: #42446E;
    margin: 32px 0px;
}

.section-about h2{
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}
html body .section-about-time {
    color: purple;
    background-color: pink;
    border-radius: 20px;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 0 0  lightgray;
}
.section-about p {
    font-size: 18px;
    color: #666666;
}
.section-about span{
    font-size: 12px;
    font-weight: 500;
    color: #a7a7a7;
}

.content-work {
    width: 300px;
}
.content-location {
    width: 300px;
}
.content-date {
    margin-left: auto;
    width: 130px;
}
/* ================== Tech Stack (stack.html) ================== */

.section-stack {
    font-family: 'Poppins', sans-serif;
    /* 100vh - tamanho header */
    min-height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.section-stack h1 {
    font-size: 36px;
    color: #42446e;
    margin: 32px 0;
}

.section-stack p {
    font-size: 18px;
    color: #666666;
}

.section-stack-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

/* ================== Projects (projects.html) ================== */

.section-projects {
    font-family: 'Poppins', sans-serif;
    /* 100vh - tamanho header */
    min-height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 50px;
}

.section-projects-intro {
    margin-bottom: 100px;
}

.section-projects h1 {
    font-size: 36px;
    color: #42446e;
    margin: 32px 0;
}

.section-projects p {
    font-size: 18px;
    color: #666666;
}

.section-projects-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card {
    overflow: hidden;
    width: 375px;
    background-color: white;
    border-radius: 20px;
    margin-top: 48px;
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
}

.project-card-content {
    padding: 24px;
    padding-bottom: calc(24px - 7px);
    transform: translateY(-7px);
}

.project-card h2 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 8px 0;
}

.project-card p {
    font-weight: 300;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.project-card-content .project-card-content-stacks {
    color: #42446e;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 16px;
}

.project-card-content-stacks span {
    font-weight: 400;
}

.project-card-links {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: underline;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card-links a {
    display: flex;
    align-items: center;
}

.project-card-links a img {
    margin-right: 10px;
}